# Практика

In [2]:
import pandas as pd
import numpy as np
from random import seed, randint
n = 90000

## Определение вероятности. События

Требуется сгенерировать необходимые выборки и произвести по ним расчеты

### Задача 1
Брошено две монеты. Найти вероятность того, что монеты выпали разными сторонами

In [67]:
c1 = np.random.randint(0,2, size = n)
c2 = np.random.randint(0,2, size = n)
df = pd.DataFrame(list(zip(c1,c2)), columns = ['Coin1', 'Coin2'])
df.head()

   Coin1  Coin2
0      1      1
1      1      0
2      1      1
3      1      0
4      0      0

In [68]:
df[df['Coin1'] != df['Coin2']].shape[0] / n

0.49994

### Задача 2
Брошено три монеты. Описать множество всех элементарных событий. Найти вероятности следующих событий:


1.   A = {не выпало ни одного герба}
2.   B = {выпало четное число гербов}
3.   C = {на третьей монете выпал герб}

In [74]:
c1 = np.random.randint(0,2, size = n)
c2 = np.random.randint(0,2, size = n)
c3 = np.random.randint(0,2, size = n)
df = pd.DataFrame(list(zip(c1,c2,c3)), columns = ['Coin1', 'Coin2', 'Coin3'])
df.head()

   Coin1  Coin2  Coin3
0      1      1      1
1      0      1      1
2      1      0      1
3      1      1      0
4      0      1      0

In [70]:
a = df[(df['Coin1'] == 1) & (df['Coin2'] == 1) & (df['Coin3'] == 1)].shape[0] / n
a

0.12416

In [75]:
f = df[(df['Coin1'] == 1) & (df['Coin2'] == 0) & (df['Coin3'] == 0)].shape[0] / n
g = df[(df['Coin1'] == 0) & (df['Coin2'] == 0) & (df['Coin3'] == 0)].shape[0] / n
h = df[(df['Coin1'] == 0) & (df['Coin2'] == 1) & (df['Coin3'] == 0)].shape[0] / n
j = df[(df['Coin1'] == 0) & (df['Coin2'] == 0) & (df['Coin3'] == 1)].shape[0] / n
b = g + f + h + j
b

0.5015555555555555

In [77]:
c = df[df['Coin3'] == 0].shape[0] / n
c

0.50116

Предлагается также решить задачи: 

### Задача 3
Из двух претендентов E и L на ответственную должность три члена комиссии должны отобрать одного. Каждый член комиссии должен указать либо одного достойного, либо забраковать обоих. Претендент считается выбранным, если он был признана достойным хотя бы двумя членами комиссии.
Найти вероятность событий:

A = {рекомендован L}, B = {рекомендован E}

In [76]:
c1 = np.random.randint(0,2, size = n)
c2 = np.random.randint(0,2, size = n)
c3 = np.random.randint(0,2, size = n)
df = pd.DataFrame(list(zip(c1,c2,c3)), columns = ['Men1', 'Men2', 'Men3'])
df.head()

   Men1  Men2  Men3
0     1     0     1
1     1     0     0
2     0     0     1
3     1     1     0
4     1     0     0

In [77]:
a = df[(df['Men1'] == 1) & (df['Men2'] == 1) & (df['Men3'] == 0)].shape[0] / n
b = df[(df['Men1'] == 1) & (df['Men2'] == 1) & (df['Men3'] == 1)].shape[0] / n
c = a + b
c

0.24755555555555556

### Задача 4
Брошено две игральных кости. Описать множество элементарных событий. Найти вероятности событий:

A = {вышло две "шестерки"}

B = {сумма выпавших очков не меньше 11}

C = {не выпала ни одна "шестерка"}

In [45]:
c1 = np.random.randint(1,7, size = n)
c2 = np.random.randint(1,7, size = n)
df = pd.DataFrame(list(zip(c1,c2)), columns = ['Cub1', 'Cub2'])
df.head()

   Cub1  Cub2
0     3     2
1     6     4
2     1     2
3     6     1
4     3     2

In [46]:
a = df[(df['Cub1'] == 6) & (df['Cub2'] == 6)].shape[0] / n
a

0.027911111111111112

In [47]:
b = df[(df['Cub1']) + (df['Cub2']) >= 11].shape[0] / n
b

0.08332222222222223

In [48]:
c = df[(df['Cub1'] != 6) & (df['Cub2'] != 6)].shape[0] / n
c

0.6934888888888889

## Вероятность суммы событий

### Задача 5
Брошены две игральные кости. Найти вероятность события D = {выпала хотя бы одна шестёрка}

In [58]:
c1 = np.random.randint(1,7, size = n)
c2 = np.random.randint(1,7, size = n)
df = pd.DataFrame(list(zip(c1,c2)), columns = ['Cub1', 'Cub2'])
df.head()

   Cub1  Cub2
0     3     2
1     1     6
2     4     4
3     6     2
4     6     5

In [73]:
d = df[((df['Cub1'] == 6) | (df['Cub2'] == 6))].shape[0] / n
d

0.3063111111111111

Предлагается также решить задачи: 

### Задача 6
В телефонном номере три последние цифры стерлись. Считая, что все возможные значения стершихся цифр равновероятны, найти вероятность событий:

A = {Стерлись различные цифры},

B = {Стерлись одинаковые цифры},

C = {Среди стершихся цифр хотя бы две совпадают},

D = {Среди стершихся цифр хотя бы две различны}

In [78]:
c1 = np.random.randint(0,10, size = n)
c2 = np.random.randint(0,10, size = n)
c3 = np.random.randint(0,10, size = n)
df = pd.DataFrame(list(zip(c1,c2,c3)), columns = ['Num1', 'Num2', 'Num3'])
df.head()

   Num1  Num2  Num3
0     2     5     7
1     1     8     1
2     9     0     0
3     4     5     7
4     4     3     1

In [87]:
a = df[(df['Num1'] != df['Num2']) & (df['Num1'] != df['Num3']) & (df['Num2'] != df['Num3'])].shape[0] / n
a

0.7198777777777777

In [88]:
b = df[(df['Num1'] == df['Num2']) & (df['Num1'] == df['Num3']) & (df['Num2'] == df['Num3'])].shape[0] / n
b

0.010422222222222222

In [96]:
c = df[(df['Num1'] == df['Num2']) | (df['Num1'] == df['Num3']) | (df['Num2'] == df['Num3'])].shape[0] / n
c

0.2801222222222222

In [97]:
d = df[(df['Num1'] != df['Num2']) | (df['Num1'] != df['Num3']) | (df['Num2'] != df['Num3'])].shape[0] / n
d

0.9895777777777778

## Случайные величины

### Задача 7
В лотерее имеется 10 билетов, из которых один выигрышный. Размер выигрыша 10 ден. ед.; стоимость билета 1 ден ед. Найти закон распределения случайной величины X, равной чистому выигрышу участника лотереи, который вытаскивает билет первым.

In [ ]:
x1 = 0-1 = -1
x2 = 10 -1 = 9
p1 = 9 / 10 = 0.9
p2 = 1 / 10 = 0.1

Предлагается также решить задачу: 

### Задача 8
Брошены две игральные кости. Найти закон распределения случайной величины $X$, равной сумме выпавших очков. Найти вероятности событий ${X <= 4}$, ${X > 4}$

In [3]:
c1 = [1,2,3,4,5,6]
c2 = [1,2,3,4,5,6]
c3 = []
k = 0
for i in c1:
    for j in c2:
        k = i + j
        c3.append(k)
c3

[2,
 3,
 4,
 5,
 6,
 7,
 3,
 4,
 5,
 6,
 7,
 8,
 4,
 5,
 6,
 7,
 8,
 9,
 5,
 6,
 7,
 8,
 9,
 10,
 6,
 7,
 8,
 9,
 10,
 11,
 7,
 8,
 9,
 10,
 11,
 12]

In [4]:
df = pd.DataFrame(list(c3), columns = ['Num1'])
df

    Num1
0      2
1      3
2      4
3      5
4      6
5      7
6      3
7      4
8      5
9      6
10     7
11     8
12     4
13     5
14     6
15     7
16     8
17     9
18     5
19     6
20     7
21     8
22     9
23    10
24     6
25     7
26     8
27     9
28    10
29    11
30     7
31     8
32     9
33    10
34    11
35    12

In [5]:
x = (df['Num1'].value_counts()) / 36
x

7     0.166667
8     0.138889
6     0.138889
9     0.111111
5     0.111111
10    0.083333
4     0.083333
11    0.055556
3     0.055556
12    0.027778
2     0.027778
Name: Num1, dtype: float64

In [11]:
x.filter(items = [2, 4])

2    0.027778
4    0.083333
Name: Num1, dtype: float64

In [13]:
x.filter(items = [5,6,7,8,9,10,11,12])

5     0.111111
6     0.138889
7     0.166667
8     0.138889
9     0.111111
10    0.083333
11    0.055556
12    0.027778
Name: Num1, dtype: float64

## Условные вероятности

### Задача 9
Из колоды (36 карт) вынимают последовательно без возвращения две карты. Найти вероятность того, что первой картой была шестерка, а второй — семерка. Найти условную вероятность того же события при условии, что обе карты бубновой масти.

In [15]:
a = 4 / 36
b  = 4 / 35
c = a * b
c

0.012698412698412697

In [17]:
a = 1 / 36
b = 1 / 35

c = a * b

c

0.0007936507936507935

Предлагается также решить задачу: 

### Задача 10
Из урны, содержащей два белых и три черных шара, последовательно извлекают два шара; вынутые шары не возвращаются. Если первый шар оказался черным, то перед вторым извлечением в урну добавляют белый шар. В противном случае состав оставшихся шаров не меняют. Найти вероятности событий:

$A$ = {извлечены два белых шара},

$B$ = {извлечены два черных шара}

Указание. Пусть событие $C_1$ = {первый шар белый}, событие $C_2$ = {второй шар белый}. Тогда $A = C_1C_2$, $B = \overline C_1 \overline C_2$

In [19]:
a1 = 2 / 5
a2 = 1 / 4 
c = a1 * a2
c

0.1

In [20]:
a1 = 3 / 5
a2 = 2 / 5 
c = a1 * a2
c

0.24